* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3e70ce;
}

section.slider {
    margin-top: 2rem;
}

/* SlideShow */
.slider__slideshow {
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: minmax(80px, 250px);
    column-gap: 20px;
}

.slideshow-link {
    /* width: 18%; */
    filter: brightness(.5);
    /* transition: width 1s; */
    /* margin: 0 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: filter 1s;
}

.slideshow-link:nth-child(3) {
    transition: filter 1s;
}

.slideshow-link img {
    display: block;
    /* width: 100%; */
    width: 70%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid white;
    transition: all 1s;
}

.slideshow-link img.current-img {
    width: 90%;
    height: 100%;
    border-radius: 5px;
    animation: add-shadow 1s .5s forwards;
}
@keyframes add-shadow {
    0% {box-shadow: none;}
    25% {box-shadow: none;}
    100% {box-shadow: 0 0 0 3px #353535, 0 2px 35px rgba(255, 255, 255, .5);}
}

/* Change brightness for slideshow-link elements */
.light {
    filter: brightness(1);
    /* width: 23%; */
    transition: filter 1s, width 1s;
}

.slideshow-link h4 {
    display: none;
}
h4.current-txt {
    display: block;
    max-width: 82%;
    position: absolute;
    bottom: 2px;
    left: 15px;
    padding: calc(.5px + .25vw) calc((3px + .25vw));
    font-size: calc(10px + .5vw);
    background-color: rgba(255, 208, 0, .8);
    color: black;
    border-radius: 3px;
    letter-spacing: 1px;
    opacity: 0;
    border: 2px solid black;
    border-width: 2px 2px 0 0;
    animation: show-text .5s .9s forwards;
}
@keyframes show-text {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Progress Bar */
.slider__progress {
  background-color: #bdb8b8;
  box-shadow: 0 0 0 2px white, 0 2px 35px rgba(100, 100, 100, .5);
  border-radius: 20px;
  height: 35px;
  width: 200px;
  margin: 0 auto;
  margin-top: calc(1.3rem + .7vw);
}

.slider__progress__done {
    height: 100%;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: #d40000;
    animation: change-color 5s infinite;
    transition: all 5s;
}

@keyframes change-color {
    0% {
        width: 10%;
        background-color: #ee9595;
        opacity: .4;
    }
    100% {
        width: 100%;
        background-color: #d40000;
        opacity: 1;
    }
}

.show-percent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Media Queries */
@media(min-width: 1650px) {
    h4.current-txt {
        left: 20px;
    }
}

@media(max-width: 1200px) {
    .slider__slideshow {
        grid-template-rows: minmax(90px, 230px);
    }

    h4.current-txt {
        left: 12px;
    }
}

@media(max-width: 1050px) {
    .slider__slideshow {
        grid-template-rows: minmax(90px, 210px);
    }
}

@media(max-width: 920px) {
    .slider__slideshow {
        grid-template-columns: repeat(3, minmax(120px, 1fr));
        grid-template-rows: repeat(3, 180px);
        justify-content: center;
    }

    .slideshow-link:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
      
    .slideshow-link:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2
    }
      
    .slideshow-link:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
      
    .slideshow-link:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
      
    .slideshow-link:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    h4.current-txt {
        left: 16px;
    }
}

@media(max-width: 620px) {
    .slider__slideshow {
        grid-template-columns: repeat(3, minmax(110px, 1fr));
        grid-template-rows: repeat(3, 120px);
    }

    .slideshow-link img.current-img {
        transform: scale(1.1);
    }

    h4.current-txt {
        padding: calc(.4px + .25vw) calc((2px + .25vw));
        bottom: -3px;
        left: 4px;
    }

    .slider__progress {
        height: 28px;
        width: 140px;
        margin-top: calc(.9rem + .7vw);
    }

    .slider__progress__done {
        font-size: 16px;
    }
}

@media(max-width: 420px) {
    h4.current-txt {
        left: 4px;
        font-size: calc(8px + .5vw);
    }
}

@media(max-width: 375px) {
    .slider__slideshow {
        grid-template-columns: repeat(3, minmax(95px, 1fr));
        grid-template-rows: repeat(3, 95px);
    }
}

@media(max-width: 360px) {
    h4.current-txt {
        left: 2px;
    }
}

@media(max-width: 325px) {   
    .slider__slideshow {
        grid-template-columns: repeat(3, minmax(85px, 1fr));
        grid-template-rows: repeat(3, 85px);
    }
}

@media(max-width: 300px) {   
    .slider__slideshow {
        grid-template-columns: repeat(3, minmax(80px, 1fr));
        grid-template-rows: repeat(3, 80px);
    }
}